name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Lint action.yml files with actionlint
        uses: rhysd/actionlint@03d0035246f3e81f36aed592ffb4bebf33a03106 # v1.7.7

      - name: Lint shell scripts with shellcheck
        run: |
          sudo apt-get update && sudo apt-get install -y shellcheck
          find . -type f -name '*.sh' -exec shellcheck --shell=sh --format=tty {} +

      - name: Test local test script
        run: |
          ./setup-dunolint/test-install.sh \
            0.0.20251006 \
            sha256:a9e6a634fae2d8b18d625e8a720c61d3c56247dd3b6e27f6464953a1b95e1c7e
