name: OCaml CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**" # This will match pull requests targeting any branch

jobs:
  ocaml-build-test:
    strategy:
      matrix:
        os:
          - ubuntu-latest

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Check build and tests
        # We review and manually update the action's commit used below.
        uses: mbarbin/setup-dune@52d589512797f9c73ed0bb8d2f74a50fa67b1120 # v2.0.0
        with:
          version: 3.20.2
          directory: test
          steps: all
