name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-setup-dunolint:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install dunolint using setup-dunolint action
        uses: ./setup-dunolint
        with:
          dunolint-version: 0.0.20251006

      - name: Check dunolint version
        run: dunolint --version
